{{>layout/header}}

<!--마진 : mt, mr, ml, mb (1~5) ex) mt-5-->
<div class="container mt-2">
    <div class="mt-4 p-5 bg-light text-dark rounded-4">
        <h1>계좌이체 페이지</h1>
        <form action="/account/transfer" method="post">
            <!--이체금액-->
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" placeholder="Enter amount" name="amount" value="100">
            </div>
            <!--출금계좌-->
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter withdrawNumber" name="withdrawNumber"
                       value="1111">
            </div>
            <!--입금계좌-->
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Enter depositNumber" name="depositNumber"
                       value="2222">
            </div>
            <!--출금계좌 비밀번호-->
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Enter withdrawPassword" name="withdrawPassword"
                       value="1234">
            </div>
            <button type="submit" class="btn btn-primary">이체하기</button>
        </form>
    </div>

</div>

{{>layout/footer}}