{{>layout/header}}

<!--마진 : mt, mr, ml, mb (1~5) ex) mt-5-->
<div class="container mt-5">
    <h1>메타코딩 은행에 오신걸 환영합니다. </h1>
    {{#sessionUser}}
        <h3>{{sessionUser.fullname}}님</h3>
    {{/sessionUser}}
</div>

{{>layout/footer}}
